<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Randomizer</title>
    <style>
    body {
      background-color: #cbe2e7;
      font-family: Lato, Trebuchet MS,Arial,sans-serif;
    }
    textarea {
      border-radius: 5px;
    }
    div.inline {
      display: inline-block;
      padding-right: 10%;
      margin-left: 5px
    }
    h3 {
      margin-left: 5px
    }
    </style>
  </head>
  <body>
    <h1>Team Randomizer</h2>
    <%= yield %>
  </body>
</html>
